<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true"
>
    <testsuites>
        <testuite name="App Tests">
            <directory>tests</directory>
        </testuite>
    </testsuites>
</phpunit>
